:root {
  --wwwfiverrcomwhite: rgba(255, 255, 255, 1);
  --wwwfiverrcomshark: rgba(34, 35, 37, 1);
  --wwwfiverrcomwhite-ice: rgba(243, 253, 249, 1);
  --wwwdeelcomcod-gray-55: rgba(27, 27, 27, 0.55);
  --black: rgba(0, 0, 0, 1);
  --wwwdeelcomcod-gray: rgba(27, 27, 27, 1);
  --wwwdeelcomcod-gray-70: rgba(27, 27, 27, 0.7);
  --white: rgba(255, 255, 255, 1);
  --wwwdeelcomcod-gray-16: rgba(27, 27, 27, 0.16);
  --wwwdeelcomperfume: rgba(196, 177, 249, 1);
  --wwwdeelcomwhite-02: rgba(255, 255, 255, 0);
  --wwwdeelcompurple-heart: rgba(89, 56, 183, 1);
  --wwwdeelcomcod-gray-40: rgba(27, 27, 27, 0.4);
  --wwwfiverrcommanatee: rgba(149, 151, 157, 1);
  --wwwfiverrcomfrench-gray: rgba(197, 198, 201, 1);
  --wwwfiverrcomwhite-10: rgba(255, 255, 255, 0.1);
  --www-fiverr-com-inter-regular-font-family: "Inter", Helvetica;
  --www-fiverr-com-inter-regular-font-weight: 400;
  --www-fiverr-com-inter-regular-font-size: 16px;
  --www-fiverr-com-inter-regular-letter-spacing: 0px;
  --www-fiverr-com-inter-regular-line-height: normal;
  --www-fiverr-com-inter-regular-font-style: normal;
  --www-fiverr-com-inter-semi-bold-font-family: "Inter", Helvetica;
  --www-fiverr-com-inter-semi-bold-font-weight: 600;
  --www-fiverr-com-inter-semi-bold-font-size: 15.800000190734863px;
  --www-fiverr-com-inter-semi-bold-letter-spacing: -0.15999999642372129px;
  --www-fiverr-com-inter-semi-bold-line-height: 24px;
  --www-fiverr-com-inter-semi-bold-font-style: normal;
  --www-deel-com-inter-bold-upper-font-family: "Inter", Helvetica;
  --www-deel-com-inter-bold-upper-font-weight: 700;
  --www-deel-com-inter-bold-upper-font-size: 12px;
  --www-deel-com-inter-bold-upper-letter-spacing: 0.7200000286102295px;
  --www-deel-com-inter-bold-upper-line-height: 20.399999618530273px;
  --www-deel-com-inter-bold-upper-font-style: normal;
  --www-deel-com-inter-medium-upper-font-family: "Inter", Helvetica;
  --www-deel-com-inter-medium-upper-font-weight: 500;
  --www-deel-com-inter-medium-upper-font-size: 13px;
  --www-deel-com-inter-medium-upper-letter-spacing: 0.7799999713897705px;
  --www-deel-com-inter-medium-upper-line-height: 22.100000381469727px;
  --www-deel-com-inter-medium-upper-font-style: normal;
  --www-deel-com-inter-medium-font-family: "Inter", Helvetica;
  --www-deel-com-inter-medium-font-weight: 500;
  --www-deel-com-inter-medium-font-size: 13px;
  --www-deel-com-inter-medium-letter-spacing: 0.7799999713897705px;
  --www-deel-com-inter-medium-line-height: 22.100000381469727px;
  --www-deel-com-inter-medium-font-style: normal;
  --www-deel-com-inter-regular-font-family: "Inter", Helvetica;
  --www-deel-com-inter-regular-font-weight: 400;
  --www-deel-com-inter-regular-font-size: 19px;
  --www-deel-com-inter-regular-letter-spacing: -0.1899999976158142px;
  --www-deel-com-inter-regular-line-height: 30.399999618530273px;
  --www-deel-com-inter-regular-font-style: normal;
  --www-deel-com-arial-regular-font-family: "Arial", Helvetica;
  --www-deel-com-arial-regular-font-weight: 400;
  --www-deel-com-arial-regular-font-size: 15.199999809265137px;
  --www-deel-com-arial-regular-letter-spacing: 0.2280000001192093px;
  --www-deel-com-arial-regular-line-height: 25.84000015258789px;
  --www-deel-com-arial-regular-font-style: normal;
}
